{% extends "base.html.twig" %}

{% block body %}       
        <div class="row">
                {% include 'home/main_recipe.html.twig' %}
        </div>
        <div class="row">
                {% include 'home/featured_recipes.html.twig' %}    
        </div>        
    </div>    
{% endblock %}