{% extends "base.html.twig" %}

{% block body %}       
        <div class="row">
                {% include 'home/main_recipe.html.twig' %}
        </div>
        <div class="row">
                {{ render(path("featured_recipes")) }}    
        </div>        
    </div>    
{% endblock %}