{% extends "/admin/index.html.twig" %}

{% block admin_body %}
<h2>{{ "admin.title.units" | trans }}</h2>
{{ table|raw }}

{% include "/admin/admin_form.html.twig" with {"form":form} %}
{% endblock admin_body %}