{% extends "base.html.twig" %}

{% block title %}
{{ "general.site-name-title" | trans }} - {{ "general.page-title.blog" | trans }}
{% endblock title %}

{% block body %}
    <h1>Under Construction</h1>
{% endblock body %}